<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<title>
    {% if title %}
        {{title}}
    {% else %}
        Maintenance
    {% endif %}
</title>



{% with messages = get_flashed_messages() %}
    {% for message in messages %}        
        <div class="alert alert-info">
            {{ message }}         
        </div>
    {% endfor %}
{% endwith %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
       <ul class="nav navbar-nav">

            <li>
                <a href="{{url_for("create")}}">New</a>
            </li>
            
            <li>
                <a href="{{url_for("todo")}}">To Do{%if count%}({{count}}){%endif%}</a>

            </li>

            <li>
                <a href="{{url_for("shopping")}}">Shopping List</a>
            </li>

        </ul>
    </div>
</nav>
<div class="container-fluid">
{% block content %} {% endblock%}
</div>
