{% extends "base.html"%}
{% block content %}
<div class="container-fluid">

        <table class="table">
            <tr>
                <th>Room</th>
                <th>Category</th>
                <th>Info</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>

        {% for job in jobs %}


            <tr>
                <td>{{job.room.name}}</td>
                <td>{{job.category.name}}</td>
                <td>{{job.info}}</td>
                <td>{{job.created}}</td>
                
                <td>


                    <a href="{{job.complete_url()}}">
                    <button type="button" class="btn btn-default">
                          <span class="glyphicon glyphicon-ok"></span>
                          
                    </button>
                    </a>

                    <a href="{{job.edit_url()}}">
                    <button type="button" class="btn btn-default">
                          <span class="glyphicon glyphicon-pencil"></span>
                          
                    </button>
                    </a>

                    <a href="{{job.delete_url()}}">
                    <button type="button" class="btn btn-default">
                          <span class="glyphicon glyphicon-remove"></span>
                          
                    </button>
                    </a>
                </td>
            </tr>

        {% endfor %}
        </table>

</div>
{% endblock %}
